<section class="featured-artworks">
    <div class="container">
        <div class="featured-artworks__header">
            <p class="featured-artworks__header--title">Featured Artworks</p>
            <p class="featured-artworks__header--desc">A hand-picked selection of pieces that best capture the essence of my artistic vision.</p>
        </div>

        <div class="featured-artworks__grid">
            <div class="featured-artworks__grid--card large">
                <img src="images/heart-floral-wreath.jpg">
                <div class="overlay-view">
                    <span class="featured-badge">★ Featured</span>
                    <div class="featured-name">Floral Heart Wreath</div>
                    <div class="featured-tag">Watercolor</div>
                </div>
                <div class="content">
                    <div class="featured-name">Floral Heart Wreath</div>
                    <div class="tags-container">
                        <span class="tag">Watercolor</span>
                        <span class="tag">Aesthetic</span>
                        <span class="tag">Florals</span>
                    </div>
                </div>
            </div>

            <div class="featured-artworks__grid--card">
                <img src="images/spring-in-pastel-blooms.jpg">
                <div class="overlay-view">
                    <span class="featured-badge">★ Featured</span>
                    <div class="featured-name">Spring Coded Artwork</div>
                    <div class="featured-tag">Florals</div>
                </div>
                <div class="content">
                    <div class="featured-name">Spring Coded Artwork</div>
                    <div class="tags-container">
                        <span class="tag">Florals</span>
                        <span class="tag">Aesthetic</span>
                    </div>
                </div>
            </div>

            <div class="featured-artworks__grid--card">
                <img src="images/lilies sketch.jpg">
                <div class="overlay-view">
                    <span class="featured-badge">★ Featured</span>
                    <div class="featured-name">Lilies Sketch</div>
                    <div class="featured-tag">Florals</div>
                </div>
                <div class="content">
                    <div class="featured-name">Lilies Sketch</div>
                    <div class="tags-container">
                        <span class="tag">Florals</span>
                        <span class="tag">Aesthetic</span>
                        <span class="tag">Sketches</span>
                    </div>
                </div>
            </div>

            <div class="featured-artworks__grid--card">
                <img src="images/cute-doodles-03.jpg">
                <div class="overlay-view">
                    <span class="featured-badge">★ Featured</span>
                    <div class="featured-name">Pinterset Inspired Doodles</div>
                    <div class="featured-tag">Doodles</div>
                </div>
                <div class="content">
                    <div class="featured-name">Pinterset Inspired Doodles</div>
                    <div class="tags-container">
                        <span class="tag">Doodles</span>
                    </div>
                </div>
            </div>

            <div class="featured-artworks__grid--card">
                <img src="images/3d-sunflower.jpg">
                <div class="overlay-view">
                    <span class="featured-badge">★ Featured</span>
                    <div class="featured-name">3D Sunflower Artwork</div>
                    <div class="featured-tag">Florals</div>
                </div>
                <div class="content">
                    <div class="featured-name">3D Sunflower Artwork</div>
                    <div class="tags-container">
                        <span class="tag">Florals</span>
                        <span class="tag">Sketches</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>