/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0;  font-family: "Caveat", cursive;}

html, body {
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: border-box;
}


.caveat {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}